@import organisms/fotolocalização
*
	background:
		color: $preto

main 
	color: $preto 
	background:
		color: $preto
		min-height: 650px
		
	h2
		text-align: center
		text-transform: uppercase
		color: $pele
		background: none
		margin: 70px 0 0 
	h4 
		text-align: center 
		text-transform: uppercase
		color: $cinza-claro
		font-size: 13px
		background: none

	h1
		text-align: center 
		text-transform: uppercase
		color: $verde
		font-size: 18px
		margin: 200px 0 0 
		background: none
	

	img 
		display: table
		position: center
		margin: 0 auto 	
		weight: 200px
		height: 147px
			
