footer 
	display: inline-block 
	min-height: 70px
	background:
		color: $preto

	
	.logo-rodape 
		img
			width: 60px
			height: 60px 
			display: table
			margin: 0 auto 10px
	p 
		text-align: center
		margin:  0 auto 
		color: $branco