header
	+clearfix
	min-height: 50px

	background:
		color: $preto

	
	.logo
		float: left 
		margin: 15px 0 0 10px 
		list-style: none
		img	
			width: 61px
			height: 26px


		

	.links
		float: right 
		margin: 15px 0 0 15px 

		nav,
		.social
			display: inline-block

		nav 
			ul 
				li 
					display: inline-block
					text-transform: uppercase
					color: $branco
					margin: 0 20px 0 0 

					a 





		.social
			li
				display: inline-block
				a 
					color: $branco 
					display: block 
					border: 1px solid $branco 
					padding: 4px 
					width: 25px
					height: 25px
					line-height: 15px
					text-align: center
					margin: 0 3px 0 3px 	
					+border-radius(120px)

	h1

	p 